html {
	margin: 0;
	padding: 0;
	}

body {
    font-family: 'Baskerville', 'Cambria', Helvetica;
    font: rgb(34, 13, 7);
    margin: 0;
    
}
p { 
	margin-top: 0;
    padding: 15px; 
	text-align: justify;
	}

#banner {
    width: 400;
    margin-bottom: 0;
    padding-top: 5%;
    background-color: #15486A;
}

#banner-pic {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
}

#nav-bar {
    background-color: #6a152f;
    padding-bottom: 0;
    margin-bottom: 0;
    margin-right: auto;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
} 

#nav-table {
    display: block;
    margin: auto;
    padding: 2px;
    width: 400px; 
}

#nav-table tr td {
    margin: auto;
    font-size: 18pt;
    width: 10%; 
    text-align: center;
    font: white;
}

#page-content {
    margin: auto;
    padding: 20px 80px 0 80px;
    position: relative;
    width: 800px;
    min-width: 600px;
    font-size: 16pt;

}

blockquote {
    padding-left: 50px;
    padding-right: 50px;
    text-align: justify;
    font: rgb(8,42,68);
}
